# Bot Settings

bot_token=""
user_token=""
app_token=""
operators=""
maintainer=""

# Yubico OTP module
YUBICO_CLIENT_ID=
YUBICO_SECRET_KEY=
CHANNEL_ID=""

# Reply Module
REPLY_CHANNELS=""
SARC_USERS="" # people to respond with in a not so kind way

# Sticky notes command
test_channels="" # anyone can use sticky notes in these channels

# ping command
ntp_server=""

# private joiner for #obobs-duck
priv_blacklisted=""
op_user=""
priv_channel_id=""